<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mf.demo.teacher.dao.TeacherDao" >
  <resultMap id="BaseResultMap" type="com.mf.demo.teacher.model.Teacher" >
    <id column="teacherId" property="teacherId" jdbcType="VARCHAR" />
    <result column="teacherName" property="teacherName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    teacherId, teacherName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where teacherId = #{teacherId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teacher
    where teacherId = #{teacherId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mf.demo.model.Teacher" >
    insert into teacher (teacherId, teacherName)
    values (#{teacherId,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mf.demo.model.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacherId,
      </if>
      <if test="teacherName != null" >
        teacherName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mf.demo.model.Teacher" >
    update teacher
    <set >
      <if test="teacherName != null" >
        teacherName = #{teacherName,jdbcType=VARCHAR},
      </if>
    </set>
    where teacherId = #{teacherId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mf.demo.model.Teacher" >
    update teacher
    set teacherName = #{teacherName,jdbcType=VARCHAR}
    where teacherId = #{teacherId,jdbcType=VARCHAR}
  </update>
</mapper>