<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mf.demo.system.dao.MfClassMessageDao" >
  <resultMap id="BaseResultMap" type="com.mf.demo.system.model.MfClassMessage" >
    <id column="CLASS_ID" property="classId" jdbcType="VARCHAR" />
    <result column="CLASS_NO" property="classNo" jdbcType="VARCHAR" />
    <result column="GRADE_ID" property="gradeId" jdbcType="VARCHAR" />
    <result column="GRADE_NO" property="gradeNo" jdbcType="VARCHAR" />
    <result column="CLASS_NAME" property="className" jdbcType="VARCHAR" />
    <result column="HEAD_ID" property="headId" jdbcType="VARCHAR" />
    <result column="CLASS_TYPE" property="classType" jdbcType="VARCHAR" />
    <result column="PERSON_NUM" property="personNum" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CLASS_ID, CLASS_NO, GRADE_ID, GRADE_NO, CLASS_NAME, HEAD_ID, CLASS_TYPE, PERSON_NUM, 
    REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mf_class_message
    where CLASS_ID = #{classId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mf_class_message
    where CLASS_ID = #{classId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mf.demo.system.model.MfClassMessage" >
    insert into mf_class_message (CLASS_ID, CLASS_NO, GRADE_ID, 
      GRADE_NO, CLASS_NAME, HEAD_ID, 
      CLASS_TYPE, PERSON_NUM, REMARK
      )
    values (#{classId,jdbcType=VARCHAR}, #{classNo,jdbcType=VARCHAR}, #{gradeId,jdbcType=VARCHAR}, 
      #{gradeNo,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{headId,jdbcType=VARCHAR}, 
      #{classType,jdbcType=VARCHAR}, #{personNum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mf.demo.system.model.MfClassMessage" >
    insert into mf_class_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classId != null" >
        CLASS_ID,
      </if>
      <if test="classNo != null" >
        CLASS_NO,
      </if>
      <if test="gradeId != null" >
        GRADE_ID,
      </if>
      <if test="gradeNo != null" >
        GRADE_NO,
      </if>
      <if test="className != null" >
        CLASS_NAME,
      </if>
      <if test="headId != null" >
        HEAD_ID,
      </if>
      <if test="classType != null" >
        CLASS_TYPE,
      </if>
      <if test="personNum != null" >
        PERSON_NUM,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="classNo != null" >
        #{classNo,jdbcType=VARCHAR},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=VARCHAR},
      </if>
      <if test="gradeNo != null" >
        #{gradeNo,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="headId != null" >
        #{headId,jdbcType=VARCHAR},
      </if>
      <if test="classType != null" >
        #{classType,jdbcType=VARCHAR},
      </if>
      <if test="personNum != null" >
        #{personNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mf.demo.system.model.MfClassMessage" >
    update mf_class_message
    <set >
      <if test="classNo != null" >
        CLASS_NO = #{classNo,jdbcType=VARCHAR},
      </if>
      <if test="gradeId != null" >
        GRADE_ID = #{gradeId,jdbcType=VARCHAR},
      </if>
      <if test="gradeNo != null" >
        GRADE_NO = #{gradeNo,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        CLASS_NAME = #{className,jdbcType=VARCHAR},
      </if>
      <if test="headId != null" >
        HEAD_ID = #{headId,jdbcType=VARCHAR},
      </if>
      <if test="classType != null" >
        CLASS_TYPE = #{classType,jdbcType=VARCHAR},
      </if>
      <if test="personNum != null" >
        PERSON_NUM = #{personNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where CLASS_ID = #{classId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mf.demo.system.model.MfClassMessage" >
    update mf_class_message
    set CLASS_NO = #{classNo,jdbcType=VARCHAR},
      GRADE_ID = #{gradeId,jdbcType=VARCHAR},
      GRADE_NO = #{gradeNo,jdbcType=VARCHAR},
      CLASS_NAME = #{className,jdbcType=VARCHAR},
      HEAD_ID = #{headId,jdbcType=VARCHAR},
      CLASS_TYPE = #{classType,jdbcType=VARCHAR},
      PERSON_NUM = #{personNum,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR}
    where CLASS_ID = #{classId,jdbcType=VARCHAR}
  </update>
</mapper>