<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mf.demo.system.dao.MfStudentMessageDao" >
  <resultMap id="BaseResultMap" type="com.mf.demo.system.model.MfStudentMessage" >
    <id column="STUDENT_ID" property="studentId" jdbcType="VARCHAR" />
    <result column="STUDENT_NO" property="studentNo" jdbcType="VARCHAR" />
    <result column="STUDENT_NAME" property="studentName" jdbcType="VARCHAR" />
    <result column="STUDENT_SEX" property="studentSex" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="DATE" />
    <result column="NATION" property="nation" jdbcType="VARCHAR" />
    <result column="ENTRANCE_SCORE" property="entranceScore" jdbcType="INTEGER" />
    <result column="ENTRANCE_DATE" property="entranceDate" jdbcType="DATE" />
    <result column="NATIVEPLACE" property="nativeplace" jdbcType="VARCHAR" />
    <result column="HEALTH" property="health" jdbcType="VARCHAR" />
    <result column="POLITY" property="polity" jdbcType="VARCHAR" />
    <result column="DUTYS" property="dutys" jdbcType="CHAR" />
    <result column="PARENT_NAME" property="parentName" jdbcType="VARCHAR" />
    <result column="RELATIONS" property="relations" jdbcType="VARCHAR" />
    <result column="PARENT_PHONE" property="parentPhone" jdbcType="VARCHAR" />
    <result column="WORK_PLACE" property="workPlace" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="DORM_ID" property="dormId" jdbcType="VARCHAR" />
    <result column="DORM_NO" property="dormNo" jdbcType="VARCHAR" />
    <result column="GRADE_ID" property="gradeId" jdbcType="VARCHAR" />
    <result column="GRADE_NO" property="gradeNo" jdbcType="VARCHAR" />
    <result column="CLASS_ID" property="classId" jdbcType="VARCHAR" />
    <result column="CLASS_NO" property="classNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    STUDENT_ID, STUDENT_NO, STUDENT_NAME, STUDENT_SEX, BIRTHDAY, NATION, ENTRANCE_SCORE, 
    ENTRANCE_DATE, NATIVEPLACE, HEALTH, POLITY, DUTYS, PARENT_NAME, RELATIONS, PARENT_PHONE, 
    WORK_PLACE, ADDRESS, DORM_ID, DORM_NO, GRADE_ID, GRADE_NO, CLASS_ID, CLASS_NO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mf_student_message
    where STUDENT_ID = #{studentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mf_student_message
    where STUDENT_ID = #{studentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mf.demo.system.model.MfStudentMessage" >
    insert into mf_student_message (STUDENT_ID, STUDENT_NO, STUDENT_NAME, 
      STUDENT_SEX, BIRTHDAY, NATION, 
      ENTRANCE_SCORE, ENTRANCE_DATE, NATIVEPLACE, 
      HEALTH, POLITY, DUTYS, 
      PARENT_NAME, RELATIONS, PARENT_PHONE, 
      WORK_PLACE, ADDRESS, DORM_ID, 
      DORM_NO, GRADE_ID, GRADE_NO, 
      CLASS_ID, CLASS_NO)
    values (#{studentId,jdbcType=VARCHAR}, #{studentNo,jdbcType=VARCHAR}, #{studentName,jdbcType=VARCHAR}, 
      #{studentSex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{nation,jdbcType=VARCHAR}, 
      #{entranceScore,jdbcType=INTEGER}, #{entranceDate,jdbcType=DATE}, #{nativeplace,jdbcType=VARCHAR}, 
      #{health,jdbcType=VARCHAR}, #{polity,jdbcType=VARCHAR}, #{dutys,jdbcType=CHAR}, 
      #{parentName,jdbcType=VARCHAR}, #{relations,jdbcType=VARCHAR}, #{parentPhone,jdbcType=VARCHAR}, 
      #{workPlace,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{dormId,jdbcType=VARCHAR}, 
      #{dormNo,jdbcType=VARCHAR}, #{gradeId,jdbcType=VARCHAR}, #{gradeNo,jdbcType=VARCHAR}, 
      #{classId,jdbcType=VARCHAR}, #{classNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mf.demo.system.model.MfStudentMessage" >
    insert into mf_student_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        STUDENT_ID,
      </if>
      <if test="studentNo != null" >
        STUDENT_NO,
      </if>
      <if test="studentName != null" >
        STUDENT_NAME,
      </if>
      <if test="studentSex != null" >
        STUDENT_SEX,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="nation != null" >
        NATION,
      </if>
      <if test="entranceScore != null" >
        ENTRANCE_SCORE,
      </if>
      <if test="entranceDate != null" >
        ENTRANCE_DATE,
      </if>
      <if test="nativeplace != null" >
        NATIVEPLACE,
      </if>
      <if test="health != null" >
        HEALTH,
      </if>
      <if test="polity != null" >
        POLITY,
      </if>
      <if test="dutys != null" >
        DUTYS,
      </if>
      <if test="parentName != null" >
        PARENT_NAME,
      </if>
      <if test="relations != null" >
        RELATIONS,
      </if>
      <if test="parentPhone != null" >
        PARENT_PHONE,
      </if>
      <if test="workPlace != null" >
        WORK_PLACE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="dormId != null" >
        DORM_ID,
      </if>
      <if test="dormNo != null" >
        DORM_NO,
      </if>
      <if test="gradeId != null" >
        GRADE_ID,
      </if>
      <if test="gradeNo != null" >
        GRADE_NO,
      </if>
      <if test="classId != null" >
        CLASS_ID,
      </if>
      <if test="classNo != null" >
        CLASS_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="studentNo != null" >
        #{studentNo,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentSex != null" >
        #{studentSex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="entranceScore != null" >
        #{entranceScore,jdbcType=INTEGER},
      </if>
      <if test="entranceDate != null" >
        #{entranceDate,jdbcType=DATE},
      </if>
      <if test="nativeplace != null" >
        #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="health != null" >
        #{health,jdbcType=VARCHAR},
      </if>
      <if test="polity != null" >
        #{polity,jdbcType=VARCHAR},
      </if>
      <if test="dutys != null" >
        #{dutys,jdbcType=CHAR},
      </if>
      <if test="parentName != null" >
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="relations != null" >
        #{relations,jdbcType=VARCHAR},
      </if>
      <if test="parentPhone != null" >
        #{parentPhone,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null" >
        #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="dormId != null" >
        #{dormId,jdbcType=VARCHAR},
      </if>
      <if test="dormNo != null" >
        #{dormNo,jdbcType=VARCHAR},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=VARCHAR},
      </if>
      <if test="gradeNo != null" >
        #{gradeNo,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="classNo != null" >
        #{classNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mf.demo.system.model.MfStudentMessage" >
    update mf_student_message
    <set >
      <if test="studentNo != null" >
        STUDENT_NO = #{studentNo,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        STUDENT_NAME = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentSex != null" >
        STUDENT_SEX = #{studentSex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=DATE},
      </if>
      <if test="nation != null" >
        NATION = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="entranceScore != null" >
        ENTRANCE_SCORE = #{entranceScore,jdbcType=INTEGER},
      </if>
      <if test="entranceDate != null" >
        ENTRANCE_DATE = #{entranceDate,jdbcType=DATE},
      </if>
      <if test="nativeplace != null" >
        NATIVEPLACE = #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="health != null" >
        HEALTH = #{health,jdbcType=VARCHAR},
      </if>
      <if test="polity != null" >
        POLITY = #{polity,jdbcType=VARCHAR},
      </if>
      <if test="dutys != null" >
        DUTYS = #{dutys,jdbcType=CHAR},
      </if>
      <if test="parentName != null" >
        PARENT_NAME = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="relations != null" >
        RELATIONS = #{relations,jdbcType=VARCHAR},
      </if>
      <if test="parentPhone != null" >
        PARENT_PHONE = #{parentPhone,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null" >
        WORK_PLACE = #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="dormId != null" >
        DORM_ID = #{dormId,jdbcType=VARCHAR},
      </if>
      <if test="dormNo != null" >
        DORM_NO = #{dormNo,jdbcType=VARCHAR},
      </if>
      <if test="gradeId != null" >
        GRADE_ID = #{gradeId,jdbcType=VARCHAR},
      </if>
      <if test="gradeNo != null" >
        GRADE_NO = #{gradeNo,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        CLASS_ID = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="classNo != null" >
        CLASS_NO = #{classNo,jdbcType=VARCHAR},
      </if>
    </set>
    where STUDENT_ID = #{studentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mf.demo.system.model.MfStudentMessage" >
    update mf_student_message
    set STUDENT_NO = #{studentNo,jdbcType=VARCHAR},
      STUDENT_NAME = #{studentName,jdbcType=VARCHAR},
      STUDENT_SEX = #{studentSex,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=DATE},
      NATION = #{nation,jdbcType=VARCHAR},
      ENTRANCE_SCORE = #{entranceScore,jdbcType=INTEGER},
      ENTRANCE_DATE = #{entranceDate,jdbcType=DATE},
      NATIVEPLACE = #{nativeplace,jdbcType=VARCHAR},
      HEALTH = #{health,jdbcType=VARCHAR},
      POLITY = #{polity,jdbcType=VARCHAR},
      DUTYS = #{dutys,jdbcType=CHAR},
      PARENT_NAME = #{parentName,jdbcType=VARCHAR},
      RELATIONS = #{relations,jdbcType=VARCHAR},
      PARENT_PHONE = #{parentPhone,jdbcType=VARCHAR},
      WORK_PLACE = #{workPlace,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      DORM_ID = #{dormId,jdbcType=VARCHAR},
      DORM_NO = #{dormNo,jdbcType=VARCHAR},
      GRADE_ID = #{gradeId,jdbcType=VARCHAR},
      GRADE_NO = #{gradeNo,jdbcType=VARCHAR},
      CLASS_ID = #{classId,jdbcType=VARCHAR},
      CLASS_NO = #{classNo,jdbcType=VARCHAR}
    where STUDENT_ID = #{studentId,jdbcType=VARCHAR}
  </update>
</mapper>